* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: #525252;
}

.titlesbar {
}

.instructionsection{

}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 60px;
  color: #fff;
}

h2 {
  text-align: center;
  font-weight: 400;
  font-size: 60px;
  color: #fff;
}

h3{
  text-align: center;
  font-weight: 400;
  font-size: 35px;
  color: #90DB8F;
}

.instructions {
  text-align: center;
  font-size: 18px;
  padding-bottom: 10%;
  color: #fff;
}

button {
  font-family: 'Nunito', sans-serif;
  text-align: center;
  color: #909090;
  background-color: #505050;
  width: 120px;
  height: 120px;
  border: 4px;
  border-radius: 120px;
  border-style: solid;
  font-weight: 400;
  font-size: 35px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button:hover {
  background-color: #AAAAAA;
  color: #606060;
  border-color: #CCC;
}

.operationbuttons {
  margin: 10px 30px 10px;
}

.operationbars {
  text-align: center;
  margin: 10px 10px 5px;
}
