* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: #525252;
  text-align: center;
  font-weight: 400;
}

h1 {
  font-weight: bold;
  font-size: 50px;
  color: #fff;
}

h2 {
  font-size: 50px;
  color: #fff;
}

h3{
  font-size: 35px;
  color: #90DB8F;
}

.instructions {
  font-size: 18px;
  color: #EEEEEE;
}

.error-messages {
  color: #525252;
}

button {
  font-family: 'Nunito', sans-serif;
  color: #909090;
  background-color: #505050;
  width: 85px;
  height: 85px;
  border: 3px;
  border-radius: 85px;
  border-style: solid;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  touch-action: manipulation;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.topbuttons{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  font-size: 25px;
}

button:hover {
  background-color: #AAAAAA;
  color: #606060;
  border-color: #CCC;
}

button:active{
  color: #fff;
  background-color: #ddd;
}
.operationbuttons {
  margin: 4px 4px 4px;
}

.operationbars {
}

.score {
  font-weight: bold;
  font-size: 28px;
  color: #BCF7BB;
  margin: auto;
}
