* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: #525252;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  color: #fff;
}

h2 {
  text-align: center;
  font-weight: 400;
  font-size: 50px;
  color: #fff;
}

h3{
  text-align: center;
  font-weight: 400;
  font-size: 35px;
  color: #90DB8F;
}

.instructions {
  text-align: center;
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 5%;
  color: #EEEEEE;
}

.usernumber {
  padding-bottom: 60px;
}

button {
  font-family: 'Nunito', sans-serif;
  text-align: center;
  color: #909090;
  background-color: #505050;
  width: 85px;
  height: 85px;
  border: 3.5px;
  border-radius: 85px;
  border-style: solid;
  font-weight: 700;
  font-size: 30px;
  touch-action: manipulation;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button:hover {
  background-color: #AAAAAA;
  color: #606060;
  border-color: #CCC;
}

button:active {
  transform: translateY(2px);
  color: #fff;
}

.operationbuttons {
  margin: 3.2px 3.2px 3.2px;
}

.operationbars {
  text-align: center;
}

.score {
  text-align: center;
  font-weight: bold;
  padding-top: 30px;
  font-size: 28px;
  color: #BCF7BB ;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
